
.main1{
    margin-left: 150px;
    /* box-shadow: 2px solid gray; */
    
    
}
.pp1 .img-fluid{
    height: 300px;
    width: 300px;
}
.card{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%)
}