.A{
    display: flex;
    flex-direction: row;

}
.a1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left:0 ;
}
.a2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left:85% ;
}

.B{
    display: flex;
    flex-direction: row;

}
.b1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left: 7%;
}
.b2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left:68% ;
}
.C{
    display: flex;
    flex-direction: row;

}
.c1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left: 16%;
}
.c2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left:52% ;
}
.D{
    display: flex;
    flex-direction: row;

}
.d1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left: 24%;
}
.d2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left:36% ;
}
.E{
    display: flex;
    flex-direction: row;}
.e1{
    height:100px;
    width: 480px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    margin-left: 30%;}

    
    


