.main{
    display: flex;
    background-color: pink;
}

.div1{
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 20px;
}
.div2{
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 20px;
}
.div3{
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 20px;
}
    
