.main{
    display: flex;
    background-color: aqua;
    
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
.main1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}
img{
    margin-top: 10px;
}
p{
    background-color: blueviolet;
}
/* media query  */
@media (max-width:400px){
    .main{
        background-color: rgb(96, 231, 78);
        display: inline-block;
    }
    
}
@media(max-width:600px){
    .main{
        background-color: orangered;
        
    }
}
@media(min-width:450px) and (max-width:900px){
    img{display: none;
        

    }
}
@media(min-width:450px) and (max-width:900px){
    p{ 
        background-color: brown;
    }
        

    }
