.logo1 {
    position: absolute;
    height: 72px;
    padding: 8px;
    left: 50%;
    margin-left: -89px;
    bottom: 28px;
}
.nav-item{width: 185px;
     }
 .nav-link{color: white;
          padding-left: 25px; } 
  .nav-link:hover{background-color: grey;
    border-radius: 5px;}          

 
 .offcanvas.offcanvas-start{
        width: 216px;
 }
