.floatR{
    float: right;
    margin-left: 15px;
    margin-right: 50px;
    width: 300px;
    height: 170px;
    }
    .static{
        position: static;
        border: 5px solid green;
        left: 4px;
        background-color: pink;
    }
    div.relative{
        border: 5px solid blue;
        position: relative;
        left: 30px;
        background-color: rgb(58, 231, 124);
    }
    .absolute{
        position: absolute;
        border: 5px solid blue;
        left: 30px;
        background-color: rgb(221, 235, 97);
    }
    .fixed{
        position: fixed;
        bottom: 80;
        right: 0;
        width: 300px;
        border: 3px solid black;
        background-color: brown;
    }
    #sticky{
        position: sticky;
        border: 5px solid blue;
    top: 0;
        background-color: orange;
    }
    div.zindex{
        position:absolute;
        
        z-index: -1;
    }