body{
    background-color: aqua;
}
.container{
    display: flex;
    justify-content: space-around;
}
.item{
    background-color: #879b84;
    width: 150px;
}

@media (max-width : 820px) {
    body{
        background-color: rgb(204, 202, 202);
    }
}
/* mobile screen */

@media (max-width:400px){
    body{
        background-color: rgb(96, 231, 78);
    }
    h2{
        color: red;
    }
    img{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .item{
        width: 100% !important;
        margin-top: 1px;
        border: 2px solid black;
    } 
}
@media  (min-width:401px) and (max-width:499px) {
    body{
        background-color: coral;
    }
    h2{
        color: red;
    }
    img{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .item{
        width: 100% !important;
        margin-top: 1px;
        border: 2px solid black;
    }
}

